<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}Mathoholic Cheater{% endblock %}</title>
</head>
<body>
    <h2>Mathocheater</h2>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>This site is neither affiliated with nor condoned by <a href="http://www.denaglobal.com/">DeNA Global, Inc</a>, the seller of Mathoholic.</p>

    <p>This site runs on Django, and is available on GitHub: <a href="http://github.com/thunderrabbit/mathocheater">Mathocheater site source code</a></p>
    {% endblock %}
</body>
</html>
