<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}Mathoholic Solver{% endblock %}</title>
</head>
<body  onload="document.getElementById('id_digits').focus();">

    {% block menu %}
    <p><a href="/">home</a> | <a href="/statistics">stats</a></p>
    {% endblock %}
    <h2>Mathoholic Solver</h2>
    {% block content %}{% endblock %}

    {% block form %}
    <p>Type four digits into the field below and press enter:</p>
    <form id="four_digit_form" action="/">
    {{ form.as_p }}
    </form>

    {% endblock %}
    {% block footer %}
    <hr>
    <p>This site is neither affiliated with nor condoned by <a href="http://www.denaglobal.com/">DeNA Global, Inc</a>, the seller of Mathoholic.</p>

    <p>This site runs on Django, and is available on GitHub: <a href="http://github.com/thunderrabbit/mathocheater">Mathoholic Solver site source code</a></p>
    {% endblock %}
</body>
</html>
