{% extends "base.html" %}

{% block title %}Mathoholic Solver - statistics{% endblock %}

{% block content %}
<div class="answer">
        <div><span style="width:60px">
		<a href="?by=digits&dir={{ other_sort_direction }}">digits</a>
	</span><span>
		<a href="?by=counter&dir={{ other_sort_direction }}">count</a>
	</span></div>
{% for answer in answer.object_list %}
{% if not answer.answer %}
        <div><span style="font-size:220%; width:200px;">{{ answer.four_digits }}</span> <span style="font-size:150%">requested {{ answer.count }} time{% if answer.count != 1 %}s{% endif %}</span></div>
{% else %}
        <div><span>{{ answer.answer }}</span></div>
{% endif %}

{% endfor %}
</div>


<div class="pagination">
    <span class="step-links">
        {% if answer.has_previous %}
            <a href="?page={{ answer.previous_page_number }}">previous</a>
        {% endif %}

	{% if answer.paginator.num_pages > 1 %}
        <span class="current">
            Page {{ answer.number }} of {{ answer.paginator.num_pages }}.
        </span>
	{% endif %}

        {% if answer.has_next %}
            <a href="?page={{ answer.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block form %}{% endblock %}
