{% extends "base.html" %}

{% block title %}Mathoholic Solver - statistics{% endblock %}

{% block content %}
<table>
        <tr><td style="width:60px">
		<a href="?by=digits&dir={{ other_sort_direction }}">digits</a>
	</td><td style="width:150px">
		<a href="?by=answers&dir={{ other_sort_direction }}">solution</a>
	</td><td>
		<a href="?by=counter&dir={{ other_sort_direction }}">counter</a>
	</td></tr>
{% for answer in answers.object_list %}
        <tr><td>{{ answer.digits }}</td><td>{{ answer }}</td><td>{{ answer.digits.counter }}</td></tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if answers.has_previous %}
            <a href="?page={{ answers.previous_page_number }}">previous</a>
        {% endif %}

	{% if answers.paginator.num_pages > 1 %}
        <span class="current">
            Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
        </span>
	{% endif %}

        {% if answers.has_next %}
            <a href="?page={{ answers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block form %}{% endblock %}
