{% extends "base.html" %}

{% block title %}Mathoholic Solver - statistics{% endblock %}

{% block content %}
<table borders="1">
        <tr><td style="width:60px">
		<a href="?by=digits&dir={{ other_sort_direction }}">digits</a>
	</td><td>
		<a href="?by=counter&dir={{ other_sort_direction }}">count</a>
	</td></tr>
{% for answer in answers.object_list %}
{% if not answer.answer %}
        <tr><td>{{ answer.four_digits }}</td><td>{{ answer.count }}</td></tr>
{% else %}
        <tr><td colspan="2">{{ answer.answer }}</td></tr>
{% endif %}

{% endfor %}
</table>


<div class="pagination">
    <span class="step-links">
        {% if answers.has_previous %}
            <a href="?page={{ answers.previous_page_number }}">previous</a>
        {% endif %}

	{% if answers.paginator.num_pages > 1 %}
        <span class="current">
            Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
        </span>
	{% endif %}

        {% if answers.has_next %}
            <a href="?page={{ answers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block form %}{% endblock %}
